{% extends 'main.html' %}

{% block content %}
<div>
    {% for book in books %}
    <div class="card mb-3">
        <div class="row">
            <div class="col-4">
                <img src="{{ book.thumbnail.url }}" alt="{{ book.title }}" width="170" height="200">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h4 class="card-title"><strong><a style="color: #e85061; text-decoration: none" href="{{ book.get_absolute_url }}">{{ book.title }}</a></strong></h4>
                    <p class="card-text">{{ book.description|truncatewords:20|linebreaks }}</p>
                    <a style="color: black" href="{{ book.category.get_absolute_url }}">Жанр {{ book.category.title }}</a>
                  </div>
                </div>
            </div>
      </div>
    {% endfor %}
</div>
{% endblock %}