{% extends 'main.html' %}

{% block content %}
    <div class="row">
    <div class="col-4">
        <img src={{ book.thumbnail.url }} alt={{ book.title }} width="250">
    </div>
    <div class="col-8">
        <h3><strong>{{ book.title }}</strong></h3>
        <p>Год выпуска: {{ book.year }}</p>
        <p>Автор: {{ book.author }}</p>
        <small>{{ book.create }}</small>
        <p>Жанр: {{ book.category.title }}</p>
        <p>{{ book.description }}</p>
    </div>
    </div>
{% endblock %}